<h2> Noticias De Deportes <h2>


<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores corrupti sit hic, molestias voluptatibus mollitia odit sunt quas quisquam, praesentium alias omnis eos placeat atque, qui saepe beatae aliquam ipsam?
Delectus esse voluptate accusantium nihil provident deserunt numquam, commodi et maxime! Fugiat, laborum praesentium, doloribus inventore necessitatibus facere animi beatae iusto ipsa nam dolorum accusamus vitae explicabo. Culpa, vero perferendis!
Animi quas, placeat nulla officiis qui harum beatae, omnis, sint ipsa optio excepturi maiores impedit possimus consequatur esse molestias. Iste soluta corporis aliquid ex in enim, iusto eius voluptate vero?
Aspernatur, quos corporis. Quis perferendis tempore perspiciatis rem voluptates animi officia amet harum, impedit ea quas nemo, voluptas corporis hic maiores? Illum ex dicta vel laudantium blanditiis inventore fugit quas.
Fugiat alias, at, possimus enim voluptatem nesciunt quae labore eligendi voluptates facere doloribus eius expedita sint quam ea magnam numquam ad omnis repudiandae saepe. Iusto debitis rem labore dolore sequi.</p>

<p>

<%= Time.now.strftime("%d-%m-%y") %>

</p>